/* RESET CSS */

*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* FIM DO RESET */

/* FONTES */

@font-face {
    font-family: 'Open-Sans Regular';
    src: url(Projeto-VitralArte-main/Font/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Open-Sans Bold';
    src: url(Projeto-VitralArte-main/Font/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'Poppins Regular';
    src: url(Projeto-VitralArte-main/Font/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins Bold';
    src: url(Projeto-VitralArte-main/Font/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'Roboto Regular';
    src: url(Projeto-VitralArte-main/Font/Roboto-Regular.ttf);
}


@font-face {
    font-family: 'Roboto Bold';
    src: url(Projeto-VitralArte-main/Font/Roboto-Regular.ttf);
}

/* FIM DAS FONTES */

.container{
    align-items: center;
    margin: 0 150px;
    display: flex;
    justify-content: space-between;
}

/* HEADER */

#header {
    background-color: #106EEA;
}

.email {
    color: white;
    font: 500 20px 'Open-Sans Regular', sans-serif;
}

.tel {
    color: white;
    font: 500 20px 'Open-Sans Regular', sans-serif;
}

.contato {
    margin-right: 30px;
    padding-right: 30px;
    
}